<server description="swagger-liberty">

    <featureManager>
    	<feature>jaxrs-1.1</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>


    <applicationMonitor updateTrigger="mbean"/>

    <application id="swagger-liberty" location="swagger-liberty.war" name="swagger-liberty"/>
    
</server>